[submodule "lib/event-sourcing-platform"]
	path = lib/event-sourcing-platform
	url = https://github.com/NeuralEmpowerment/event-sourcing-platform.git
	active = true
[submodule "lib/agent-paradise-standards-system"]
	path = lib/agent-paradise-standards-system
	url = https://github.com/AgentParadise/agent-paradise-standards-system.git
	active = true
[submodule "lib/syntropic137-claude-plugin"]
	path = lib/syntropic137-claude-plugin
	url = https://github.com/syntropic137/syntropic137-claude-plugin.git
	active = true
